@model PlantHunter.Mobile.Web.Data.Models.Plant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndangeredLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndangeredLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surrounding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surrounding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PlantFileUrl)
        </dt>
        <dd>
            <img src="/@Model.PlantFileUrl" height="300" width="300" />
        </dd>
        <dt>
            Location
        </dt>
        <dd>
            @{
                System.Globalization.NumberFormatInfo nfi = new System.Globalization.NumberFormatInfo();
                nfi.NumberDecimalSeparator = ".";
            }
            <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=@Model.Latitude.ToString(nfi),@Model.Longitude.ToString(nfi)&amp;key=AIzaSyC10Pv4N0xvCXqWjK5t9MryzjUu90PnaCU"></iframe>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
